@model Assign3.Models.Class
@{
    ViewBag.Title = "Show";
}


<a class="navlink" href="/Class/List">Back to Classes</a>
<figure>
    <div id="containershow">
        <h2>@Model.ClassName</h2>

        
        <img src="~/Content/images/icons8-resume-website-100.png" />
        
        <p>The class ID is @Model.ClassId </p>
        <p>The class code is: @Model.ClassCode</p>
        <p>The class start date is: @Model.ClassStartdate</p>
        <p>The class finish date is: @Model.ClassFinishdate</p>


    </div>
</figure>